<iframe class="w-full h-full absolute" width="560" height="315"
  src="https://www.youtube-nocookie.com/embed/SdHe-JseJfQ?autoplay=1&loop=1&mute=1&controls=0"
  title="YouTube video player" frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  allowfullscreen>
</iframe>


<div class="bg-white h-screen">
    <div class="absolute bg-gradient-to-r from-black pt-[20%] px-24 h-full">
        <h1 class="text-white text-6xl font-bold">OPPENHEIMER</h1>
        <p class="text-white inline-block py-6 w-1/4 flex-wrap">Oppenheimer is a 2023 biographical thriller about American theoretical physicist J. Robert Oppenheimer, who helped develop the first nuclear weapons during World War II.</p>
        <div class="flex gap-5 ms-1">
            <button class="bg-white text-black py-4 px-12 rounded-lg text-xl hover:bg-opacity-70 transition-[3s] cursor-pointer">
                <div class="flex gap-2 items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                        <path fill-rule="evenodd" d="M4.5 5.653c0-1.427 1.529-2.33 2.779-1.643l11.54 6.347c1.295.712 1.295 2.573 0 3.286L7.28 19.99c-1.25.687-2.779-.217-2.779-1.643V5.653Z" clip-rule="evenodd" />
                      </svg>
                      <span>Play</span>
                </div>
            </button>
            <button class="bg-red-600 text-white py-4 px-11 rounded-lg text-xl hover:bg-opacity-70 transition-[3s] cursor-pointer">
                More Info
            </button>
        </div>
    </div>
</div>
